# FRP Client Configuration Template
# This configuration will be processed by the entrypoint script

serverAddr = "${SERVER_ADDR}"
serverPort = ${SERVER_PORT}

# Authentication
[auth]
method = "token"
token = "${AUTH_TOKEN}"
