version: '3.8'

services:
  gateway:
    build:
      context: ../../libs/auto-proxy
      dockerfile: Dockerfile
    ports:
      - "80:80"       # HTTP port
      - "8080:8080"   # Alternative HTTP port
      - "443:443"     # HTTPS port
    environment:
      - ENABLE_IPV6=false
      - AUTO_SSL=true
      - CERT_DIR=/etc/nginx/certs
      - STATIC_PROXIES=HTTP:::open-source.thalesrc.local:::443=>host.docker.internal:::4200,HTTP:::landing.open-source.thalesrc.local:::443=>host.docker.internal:::4300
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro  # Required for container discovery
      - ./.certs:/etc/nginx/certs                  # Certificates accessible to developer
      - gateway_dhparam:/etc/nginx/dhparam
    networks:
      - osw
    restart: unless-stopped

volumes:
  gateway_dhparam:

networks:
  osw:
    driver: bridge
    name: osw
