name: Hermes / Publish

on:
  push:
    tags:
      - 'hermes-v*'

permissions:
  id-token: write  # Required for OIDC
  contents: read

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - name: Set package version env variable
        run: |
          TAG_NAME="${{ github.ref_name }}"
          echo "PACKAGE_VERSION=${TAG_NAME#hermes-v}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: latest
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          registry-url: 'https://registry.npmjs.org'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install

      - name: Test
        run: pnpm nx run hermes:test

      - name: Publish
        run: pnpm nx run hermes:publish
